<h2>Index</h2>
{{link-to "New Plant" 'plants.new' }}
<table>
	<thead>
		<tr>
			<th>Code</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{#each plant in model}}
		<tr>
			<td>{{plant.code}}</td>
			<td>{{plant.description}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
